.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  background: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background: #28a745;
  color: #fff;
}

.btn-secondary {
  background: #0284d0;
  color: #fff;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero * {
  z-index: 10;
}
